In [1]:
import pandas as pd

In [2]:
import quandl
import requests

In [3]:
quandl.ApiConfig.api_key = "jygVsKNGRexPNMj2H4Dp"
df = quandl.get('WIKI/GOOGL')

In [4]:
df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume',]]

In [5]:
df

              Adj. Open    Adj. High     Adj. Low   Adj. Close  Adj. Volume
Date
2004-08-19    50.159839    52.191109    48.128568    50.322842   44659000.0
2004-08-20    50.661387    54.708881    50.405597    54.322689   22834300.0
2004-08-23    55.551482    56.915693    54.693835    54.869377   18256100.0
2004-08-24    55.792225    55.972783    51.945350    52.597363   15247300.0
2004-08-25    52.542193    54.167209    52.100830    53.164113    9188600.0
...                 ...          ...          ...          ...          ...
2018-03-21  1092.570000  1108.700000  1087.210000  1094.000000    1990515.0
2018-03-22  1080.010000  1083.920000  1049.640000  1053.150000    3418154.0
2018-03-23  1051.370000  1066.780000  1024.870000  1026.550000    2413517.0
2018-03-26  1050.600000  1059.270000  1010.580000  1054.090000    3272409.0
2018-03-27  1063.900000  1064.540000   997.620000  1006.940000    2940957.0

[3424 rows x 5 columns]

In [6]:
df['HL_PCT']=(df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] *100.0

In [7]:
df

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT
Date,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792
...,...,...,...,...,...,...
2018-03-21,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0,1.343693
2018-03-22,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0,2.921711
2018-03-23,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0,3.918952
2018-03-26,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0,0.491419
2018-03-27,1063.900000,1064.540000,997.620000,1006.940000,2940957.0,5.720301

In [8]:
df['PCT_change']=(df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] *100.0

In [9]:
df

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658
...,...,...,...,...,...,...,...
2018-03-21,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0,1.343693,0.130884
2018-03-22,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0,2.921711,-2.487014
2018-03-23,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0,3.918952,-2.360729
2018-03-26,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0,0.491419,0.332191
2018-03-27,1063.900000,1064.540000,997.620000,1006.940000,2940957.0,5.720301,-5.353887

In [10]:
df=df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

In [11]:
df

             Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19    50.322842  3.712563    0.324968   44659000.0
2004-08-20    54.322689  0.710922    7.227007   22834300.0
2004-08-23    54.869377  3.729433   -1.227880   18256100.0
2004-08-24    52.597363  6.417469   -5.726357   15247300.0
2004-08-25    53.164113  1.886792    1.183658    9188600.0
...                 ...       ...         ...          ...
2018-03-21  1094.000000  1.343693    0.130884    1990515.0
2018-03-22  1053.150000  2.921711   -2.487014    3418154.0
2018-03-23  1026.550000  3.918952   -2.360729    2413517.0
2018-03-26  1054.090000  0.491419    0.332191    3272409.0
2018-03-27  1006.940000  5.720301   -5.353887    2940957.0

[3424 rows x 4 columns]

In [12]:
forecast_col='Adj. Close'

In [13]:
print(forecast_col)

Adj. Close

In [14]:
df.fillna(-99999,inplace=True)

c:\users\siddhesh\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [15]:

import math
forecast_out=int(math.ceil(0.1*len(df)))

In [16]:
len(df)

3424

In [17]:
forecast_out

343

In [18]:
#1 percent of 3424
1/100 * 3424

34.24

In [19]:
df['label']=df[forecast_col].shift(-forecast_out)

c:\users\siddhesh\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df.label

Date
2004-08-19    214.005615
2004-08-20    210.725489
2004-08-23    208.072299
2004-08-24    218.288837
2004-08-25    223.309335
                 ...
2018-03-21           NaN
2018-03-22           NaN
2018-03-23           NaN
2018-03-26           NaN
2018-03-27           NaN
Name: label, Length: 3424, dtype: float64

In [21]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume       label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  214.005615
2004-08-20   54.322689  0.710922    7.227007   22834300.0  210.725489
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  208.072299
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  218.288837
2004-08-25   53.164113  1.886792    1.183658    9188600.0  223.309335

In [22]:
df['Adj. Close'][344]

210.72548939855147

In [23]:
df.dropna(inplace=True)

c:\users\siddhesh\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    label
Date
2016-11-04      781.10  0.944821    1.270582    1970603.0  1094.00
2016-11-07      802.03  0.370310    0.890622    1992570.0  1053.15
2016-11-08      811.98  0.500012    1.240602    1769069.0  1026.55
2016-11-09      805.59  0.759692    0.468927    3098510.0  1054.09
2016-11-10      780.29  3.815248   -3.667901    5909609.0  1006.94

In [25]:
l=[1,2,3,4]
l[:-2]

[1, 2]

In [28]:
import math
import numpy as np
from sklearn import preprocessing ,model_selection,svm

In [29]:
from sklearn.linear_model import LinearRegression

In [34]:
X=np.array(df.drop(['label'],1))
Y=np.array(df['label'])

In [35]:
X_train, X_test, y_train, y_test =model_selection.train_test_split(X,Y,test_size=0.2)

In [36]:
clf=LinearRegression()

In [37]:
clf.fit(X_train,y_train)

LinearRegression()

In [38]:
accuracy=clf.score(X_test,y_test)

In [39]:
print(accuracy)

0.8982457599169982

In [41]:
clf1=svm.SVR()
clf1.fit(X_train,y_train)
accuracy1=clf1.score(X_test,y_test)

In [43]:
print(accuracy1)

0.4327466023981842